:root {
    /* Colors */
    --background-color: #20272a;
    --body-text-color: white;
    --collapsible-head: black;
    --cards: black;
    --accent-color: #36e58a;
    /* green: #36e58a */
    /* blue: #4decfa */
    /* red: #ff5959 */

    /* Headings */
    --header1: 3rem;
    --header2: 2.8rem;
    --header3: 1.2rem;
    --header4: 1.2rem;
    --header5: ;

    /* Body Text */
    --14px: 0.875rem;
    --15px: 0.9375rem;
    --16px: 1rem;
    --17px: 1.0625rem;
    --18px: 1.125rem;
    --19px: 1.1875rem;
    --20px: 1.25rem;
    --21px: 1.3125rem;

    --readable-text: "Calibri";

    /* Media Query Section Styles */
    /* Sets the padding on the left and right side of the main containers as a way to format the content based on screen width */
    --sect-padding-LR: 20%;
    @media only screen and (max-width: 360px) {
        --sect-padding-LR: 1%;
    }
    @media only screen and (max-width: 640px) {
        --sect-padding-LR: 1%;
    }
    @media only screen and (max-width: 1024px) {
        --sect-padding-LR: 1%;
    }
    @media only screen and (max-width: 1280px) {
        --sect-padding-LR: 2%;
    }
    @media only screen and (max-width: 1536px) {
        --sect-padding-LR: 5%;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    margin: 0px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
    color: var(--accent-color);
    font-family:
        Garamond,
        Georgia,
        Times New Roman,
        Impact;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
}

h1 {
    font-size: var(--header1);
}

h2 {
    font-size: var(--header2);
}

h3 {
    font-size: var(--header3);
}

h4 {
    font-size: var(--header4);
}

p {
    color: var(--body-text-color);
    font-size: var(--18px);
    font-family: var(--readable-text);
    padding: 0px 20px 20px 20px;
    margin-bottom: 0px;
}

i {
    color: var(--body-text-color);
    font-size: var(--20px);
    font-family: var(--readable-text);
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    margin-bottom: 0px;
}

/*-------------------*/
/* Navigation Styles */
/*-------------------*/
div.menu {
    background-color: var(--background-color);
    margin: 0px auto;
    text-align: center;
}

div.menu a {
    display: block;
    margin: 0px;
    padding: 10px 25px 10px 25px;
    color: var(--body-text-color);
    font-size: 18px;
    font-family: var(--readable-text);
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

div.menu a:hover {
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    background-color: black;
}

/* Collapsable Menu */
.collapsible {
    background-color: var(--collapsible-head);
    font-weight: bold;
    color: var(--accent-color);
    cursor: pointer;
    padding: 25px 30px 20px 30px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: left;
}

.active,
.collapsible:hover {
    background-color: var(--collapsible-head);
}

.collapsible:after {
    content: "\002B";
    color: var(--accent-color);
    font-weight: 500;
    font-size: 20px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content p,
li {
    font-family: Georgia, "Times New Roman", Times, serif;
}

/*--------------------------*/
/* SECTION content elements */
/*--------------------------*/
div.section {
    margin: 0px;
    padding: 0px;
    height: auto;
    text-align: center;
    padding: 50px var(--sect-padding-LR) 50px var(--sect-padding-LR);
}

div.b {
    background-color: #171c1e;
    color: white;
}

div.d {
    background-color: #171c1e;
}

div.c {
    /* Set a slightly transparenet gradient over the background image to make it more attractive */
    background-image: linear-gradient(
            rgba(32, 39, 42, 0.85),
            rgba(32, 39, 42, 0.85)
        ),
        url(project3.jpeg);
    background-attachment: fixed;
    margin: 0px;
    background-size: 100% 100%;
    padding: 50px var(--sect-padding-LR) 50px var(--sect-padding-LR);
}

div.bgimage {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    font-family: var(--readable-text);
    padding: 50px var(--sect-padding-LR) 50px var(--sect-padding-LR);
    text-align: center;
}

/*-----------------------*/
/* PROFILE Grid Style */
/*-----------------------*/
.profile-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    align-items: center;
}
div.profile-card {
    width: 1fr;
    font-size: 20px;
}

img.profile {
    height: 320px;
    width: auto;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--accent-color);
    box-shadow: 0px 10px 40px black;
}

/*-----------------------*/
/* EXPERIENCE Grid Style */
/*-----------------------*/
.experience-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    align-items: center;
}

div.experience-card {
    width: 1fr;
    font-size: 20px;
}

.experience-card b {
    color: var(--accent-color);
}

div.experience-card ul li {
    font-family: var(--readable-text);
    margin-bottom: 10px;
    padding-right: 20px;
}

div.g {
    text-align: left;
}

@media (max-width: 420px) {
    div.f {
        display: none;
    }
}

/*-----------------------*/
/* PORTFOLIO Grid Styles */
/*-----------------------*/
.project-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    align-items: center;
}

/* Project Card and Links */
div.project_card {
    position: relative;
    background-color: var(--cards);
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 10px 20px,
        rgba(0, 0, 0, 0.35) 6px 6px 10px;
    border-radius: 10px;
    width: 1fr;
    height: 90%;
    margin: 0;
    padding: 1em;
    text-align: left;
}

div.project_card p {
    margin-bottom: 70px;
    text-align: justify;
}

a.docLink {
    position: absolute;
    bottom: 0.5em;
    font-family: var(--readable-text);
    margin: 0px 20px 20px 20px;
    color: var(--accent-color);
}

a.docLink:visited {
    color: var(--accent-color);
}

/*-----------------------*/
/* PORTFOLIO Grid Styles */
/*-----------------------*/
.cert-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.cert {
    width: 1fr;
}

div.cert img {
    width: 360px;
    box-shadow:
        rgba(0, 0, 0, 0.9) 0px 0px 30px,
        rgba(0, 0, 0, 0.9) 0px 6px 6px;
}

/*-----------------------*/
/* SKILLS Grid Styles */
/*-----------------------*/
.skills-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    align-items: center;
}

div.skills {
    width: 1fr;
    background-color: black;
}

/*------------------------*/
/* Download Resume Button */
/*------------------------*/
a.wtf {
    display: inline-block;
    border-radius: 5px;
    margin: 40px 15px 40px 15px;
    padding: 15px 25px 15px 25px;
    color: var(--background-color);
    font-size: 18px;
    font-family: calibri;
    font-weight: 300;
    text-decoration: none;
    background-color: var(--accent-color);
}

a.wtf:hover {
    background-color: white;
}

/*--------------------------*/
/* Work History Card Slider */
/*--------------------------*/
/* Importing Google Font - Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

mark {
    background-color: var(--accent-color);
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.slider-wrapper {
    display: flex;
    overflow: hidden;
    margin: 0 70px 55px;
    text-align: left;
    line-height: 2em;
    padding: 20px 20px 20px 20px;
}

.slider-wrapper ul li {
    color: white;
    font-family: var(--readable-text);
}

.card-list .card-item {
    height: auto;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #70828a;
    background: #333e43;
    box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.slider-wrapper .swiper-pagination-bullet {
    background: #fff;
    height: 13px;
    width: 13px;
    opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.slider-wrapper .swiper-slide-button {
    color: #fff;
    margin-top: -55px;
    transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
    color: #36e58a;
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-slide-button {
        display: none;
    }
}

/*--------------------------*/
/* LIGHTBOX                 */
/* Source code: https://github.com/TheLastProject/CSSBox/blob/master/cssbox.css */
/*--------------------------*/
div.cssbox {
    display: inline-block;
}

span.cssbox_full {
    z-index: 999999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity 0.5s linear;
}

span.cssbox_full img {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    height: auto;
    width: 70%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
    z-index: 999999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color: white;
    font-size: 36px;
}

a.cssbox_close {
    top: 1%;
    right: 1%;
    color: var(--accent-color);
}

a.cssbox_close::after {
    content: "\00d7";
}

a.cssbox_prev,
a.cssbox_next {
    top: 50%;
    transform: translate(0%, -50%);
}

a.cssbox_prev {
    left: 5%;
}

a.cssbox_next {
    right: 5%;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
    visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
}
