
:root{
    --background-color: #131316;
    --page-bgcolor: #1c2529;
    --collapsible-head: #171d21ff;
    --collapsible-body: #0D1011;
    --font-color: #B2ADA2;
}


/* color pallete
:root{
    --background-color: #1A1E1D;
    --page-bgcolor: #232928;
    --collapsible-head: #232928;
    --collapsible-body: #000000;
    --font-color: #9ea099;
}
*/

body {
    background-color: var(--background-color);
    margin: 0px;
}

/* Headings */
h1 {
    color: var(--font-color);
    font-size: 30px;
    font-family: calibri;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 20px 0px 10px 30px;
    margin: 0px 0px 0px 0px;
}

/* Headings */
h3 {
    color: var(--font-color);
    font-size: 20px;
    font-family: calibri;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 20px 0px 10px 30px;
    margin: 0px 0px 0px 0px;
}


/* Navigation Styles */
div.menu {
    background-color: var(--page-bgcolor);
    font-size: 0;
    margin: 0px auto;
    text-align: center;
}


div.menu a {
    display: inline-block;
    margin: 0px;
    padding: 15px 25px 10px 25px;
    color: var(--font-color);
    font-size: 18px;
    font-family: calibri;
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: all 0.40s ease;
    transition: all 0.40s ease;
}

div.menu a:hover {
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
    background-color: black;
}


/* Grid Styles */
.grid-wrapper {
    margin: 0px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr);
    grid-auto-rows: auto;
    column-gap: 20px;
    row-gap: 0px;
    background-color: var(--page-bgcolor);

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
            width: 100%;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
            width: 100%;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
            width: 80%;
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
            width: 80%;
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
            width: 70%;
    }
}

.grid-menu {
    grid-column: 1 / 3;
    grid-row: 1;
}

.grid-header {
    grid-column: 1 / 3;
    grid-row: 2;
}

.grid-body {
    grid-column: 1 / 3;
    grid-row: 3;
}


/* content elements */
div.section {
    margin: 0px;
    background-color: var(--page-bgcolor);
    height: auto;
}


img.badge {
    position: absolute;
    bottom: -3%;
    right: 2%;
    z-index: 5;
    width: 85px;
    height: 85px;
}


/* welcome banner */
div.welcome-banner {
    position: relative;
    background-image: url("clay.jpg");
    background-position: 50% 45%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 250px;
}

p.welcome-name {
    margin: 0px 0px 0px 10%;
    padding-top: 5%;
    color: white;
    font-family: calibri;
    font-weight: 800;
    font-size: 42px;
}

p.welcome-subtext {
    margin: 0px 0px 0px 10%;
    color: white;
    width: 50%;
}

div.welcome-button {
    display: block;
    margin-left: 10%;
    width: 200px;
}


/* Download Resume Button */
a.wtf {
    display: inline-block;
    margin: 20px 0px 0px 10%;
    padding: 15px 30px 10px 20px;
    color: var(--background-color);
    font-size: 18px;
    font-family: calibri;
    font-weight: 300;
    text-decoration: none;
    background-color: var(--font-color);
}

a.wtf:hover {
    background-color: white;
}

svg {
    vertical-align: middle;
    padding-bottom: 5px;
    padding-right: 5px;
    color: red;
}


/*
img.profile {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

div.profile_background {
    background-color: #131316;
    display: inline-block;
    position: absolute;
    bottom: 13%;
    right: 13%;
    margin: 0px auto;
    border-radius: 50%;
    height: 275px;
    width: 275px;
}

div.status {
    background-color: #B2ADA2;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    height: 255px;
    width: 255px;
}



/* collapsable containers */
.collapsible {
    background-color: var(--collapsible-head);
    font-weight: bold;
    color: var(--font-color);
    cursor: pointer;
    padding: 25px 30px 20px 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
}

.active, .collapsible:hover {
    background-color: var(--collapsible-head);
}

.collapsible:after {
    content: '\002B';
    color: var(--font-color);
    font-weight: 500;
    font-size: 20px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    color: var(--font-color);
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--collapsible-body);
}

.content p, li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.docLink{
    color: white;
}

a.docLink:visited {
    color: white;
}
